In [1]:
from jose_lambdata.helper_funcs import DataFrameOperator

In [2]:
import pandas as pd

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00247/data_akbilgic.xlsx'

df = pd.read_excel(url, skiprows=1)
df.head()

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802

In [5]:
operator = DataFrameOperator(df, 'date')

In [6]:
train, val, test = operator.auto_split()

In [7]:
train_operator = DataFrameOperator(train, 'date')

In [8]:
train = train_operator.decompose_time()
train.head()

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM,year,month,day
23,2009-02-05,-0.014133,-0.014571,0.016233,0.003932,0.000071,-0.011169,0.024128,-0.004139,0.002073,2009,2,5
103,2009-06-02,-0.007792,-0.010424,0.001981,0.000292,-0.006501,0.002741,-0.008960,0.000451,-0.006631,2009,6,2
317,2010-04-07,0.004088,0.011302,-0.005894,-0.004778,-0.003171,0.000931,-0.004271,-0.003953,0.003125,2010,4,7
362,2010-06-11,0.004906,0.015163,0.004370,-0.001447,0.006061,0.016896,0.008780,0.007070,0.008774,2010,6,11
461,2010-11-04,0.032986,0.042670,0.019099,0.017509,0.019601,0.000000,0.015059,0.016419,0.010737,2010,11,4